**List**

In [ ]:
list1 = [1 , 'df', 'abc', 3, 'def']
list2 = []
list3 = list((1, 2, 3))
print(list1)
print(list2)
print(list3)

[1, 'df', 'abc', 3, 'def']
[]
[1, 2, 3]

In [ ]:
list1 = [1, 2, "hello", 3]
print(list1[2])

hello

In [ ]:
#Add
list1 = ["one", "two", "three"]
list1.append("four")
print(list1)

['one', 'two', 'three', 'four']

In [ ]:
#Delete
list1 = ["one", "two", "three", "four"]
list1.pop()
print(list1)

['one', 'two', 'three']

In [ ]:
#Modifying elements
print("Original :")
print(list1)

# Change value at index 2 (third element) in l2
list1[2] = 5

# Print the modified list l2
print("Modified :")
print(list1)

In [ ]:
#Sort
list1 = [100, 3, 4, 12, 1]
list1.sort()
print(list1)

[1, 3, 4, 12, 100]

In [ ]:
#Searching elements
list1 = [100, 3, 4, 12, 1]
list1.sort()
print(list1)

[1, 3, 4, 12, 100]

In [ ]:
#Reversing element
list1 = [100, 3, 4, 12, 1]
list1.reverse()
print(list1)

[1, 12, 4, 3, 100]

In [ ]:
#Counting elements
list1 = [1, 2, 3, 6, 2, 2, 2]
print(list1.count(2))

4

**Dictionary**

In [ ]:
dict1 = {"key1": "value1", "key2": "value2"}
dict2 = {}
dict3 = dict({1: "one", 2: "two", 3: "three"})
print(dict1)

print(dict2)

print(dict3)

{'key1': 'value1', 'key2': 'value2'}
{}
{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
#Indexing
dict1 = {"one": 1, "two": 2, "three": 3}
print(dict1.keys())
print(dict1.values())
print(dict1['two'])

dict_keys(['one', 'two', 'three'])
dict_values([1, 2, 3])
2

In [ ]:
#Adding elements
dict1 = {"India": "IN", "Russia": "RU", "Australia": "AU"}
dict1.update({"Canada": "CA"})
print(dict1)
dict1.pop("Australia")
print(dict1)

{'India': 'IN', 'Russia': 'RU', 'Australia': 'AU', 'Canada': 'CA'}
{'India': 'IN', 'Russia': 'RU', 'Canada': 'CA'}

In [ ]:
#Deleting elements
dict1 = {"India": "IN", "Russia": "RU", "Australia": "AU"}
dict1.pop('Russia')
print(dict1)

{'India': 'IN', 'Australia': 'AU'}

In [ ]:
#Sorting Elements
dict1 = {"India": "IN", "Russia": "RU", "Australia": "AU"}
print(sorted(dict1))

['Australia', 'India', 'Russia']

In [ ]:
#Searching Elements
dict1 = {"India": "IN", "Russia": "RU", "Australia": "AU"}
print(dict1['Australia'])

AU

**SET**

In [ ]:
first_set = set(("Connor", 32, (1, 2, 3)))
print(first_set)

{(1, 2, 3), 32, 'Connor'}

In [ ]:
second_set = set("Connor")
second_set

{'C', 'n', 'o', 'r'}

In [ ]:
#Adding elements
first_set.update(("cello", "violin"))
print(first_set)

{32, 'Connor', (1, 2, 3), 'violin', 'cello'}

In [ ]:
#Remove elements
set1 = first_set.discard(2)
print(set1)

set2 = first_set.pop()
print(set2)

set3  = first_set.clear()
print(set3)

None
32
None